n8n/workflow-create-event.json
{
  "name": "GestorSala — Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sala-reservar",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "1a1a1a1a-aaaa-aaaa-aaaa-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "sala-reservar"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "c_36b4c6c75706ffff8b32d991f27c2ac8e0b338cfd8d2c580259d7e8fb02fd191@group.calendar.google.com",
          "mode": "id"
        },
        "start": "={{ $json.body.start }}",
        "end": "={{ $json.body.end }}",
        "additionalFields": {
          "summary": "={{ $json.body.title }}"
        }
      },
      "id": "2b2b2b2b-bbbb-bbbb-bbbb-222222222222",
      "name": "Google Calendar — Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REEMPLAZAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { id: $json.id, title: $json.summary, start: ($json.start && ($json.start.dateTime || $json.start.date)), end: ($json.end && ($json.end.dateTime || $json.end.date)), htmlLink: $json.htmlLink } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "3c3c3c3c-cccc-cccc-cccc-333333333333",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Google Calendar — Create", "type": "main", "index": 0 }]]
    },
    "Google Calendar — Create": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
