n8n/workflow-auto-cancel-no-shows.json
{
  "name": "GestorSala — Auto-cancel no-shows",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "id": "1a1a2b2b-aaaa-bbbb-cccc-111111111111",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_36b4c6c75706ffff8b32d991f27c2ac8e0b338cfd8d2c580259d7e8fb02fd191@group.calendar.google.com",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.minus({ hours: 4 }).toISO() }}",
          "timeMax": "={{ $now.plus({ minutes: 1 }).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "2a2a2a2a-aaaa-bbbb-cccc-222222222222",
      "name": "Get recent events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REEMPLAZAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra eventos actualmente en curso, sin check-in, con >15 min sin confirmar\nconst GRACE_MIN = 15;\nconst now = new Date();\nreturn items\n  .filter(i => {\n    const ev = i.json;\n    const startStr = ev.start && (ev.start.dateTime || ev.start.date);\n    const endStr = ev.end && (ev.end.dateTime || ev.end.date);\n    if (!startStr || !endStr) return false;\n    const start = new Date(startStr);\n    const end = new Date(endStr);\n    if (isNaN(start) || isNaN(end)) return false;\n    // must be currently running\n    if (!(start <= now && now < end)) return false;\n    // skip if already checked in\n    if (/\\[CHECKED_IN:/i.test(ev.description || '')) return false;\n    // only cancel if past the grace window\n    const deadline = new Date(start.getTime() + GRACE_MIN * 60000);\n    return now >= deadline;\n  })\n  .map(i => ({ json: { eventId: i.json.id, title: i.json.summary || '(sin título)' } }));\n"
      },
      "id": "3a3a3a3a-aaaa-bbbb-cccc-333333333333",
      "name": "Filter no-shows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_36b4c6c75706ffff8b32d991f27c2ac8e0b338cfd8d2c580259d7e8fb02fd191@group.calendar.google.com",
          "mode": "id"
        },
        "eventId": "={{ $json.eventId }}"
      },
      "id": "4a4a4a4a-aaaa-bbbb-cccc-444444444444",
      "name": "Delete event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [920, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REEMPLAZAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    }
  ],
  "connections": {
    "Every 5 min": { "main": [[{ "node": "Get recent events", "type": "main", "index": 0 }]] },
    "Get recent events": { "main": [[{ "node": "Filter no-shows", "type": "main", "index": 0 }]] },
    "Filter no-shows": { "main": [[{ "node": "Delete event", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
