n8n/workflow-checkin-event.json
{
  "name": "GestorSala — Check-in Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sala-checkin",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "1f1f1f1f-ffff-ffff-ffff-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "sala-checkin"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "c_36b4c6c75706ffff8b32d991f27c2ac8e0b338cfd8d2c580259d7e8fb02fd191@group.calendar.google.com",
          "mode": "id"
        },
        "eventId": "={{ $json.body.eventId }}"
      },
      "id": "2f2f2f2f-ffff-ffff-ffff-222222222222",
      "name": "Google Calendar — Get",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REEMPLAZAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c_36b4c6c75706ffff8b32d991f27c2ac8e0b338cfd8d2c580259d7e8fb02fd191@group.calendar.google.com",
          "mode": "id"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "description": "={{ '[CHECKED_IN:' + $now.toISO() + ']\\n\\n' + ($json.description || '') }}"
        }
      },
      "id": "3f3f3f3f-ffff-ffff-ffff-333333333333",
      "name": "Google Calendar — Update",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REEMPLAZAR_CREDENTIAL_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "4f4f4f4f-ffff-ffff-ffff-444444444444",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Google Calendar — Get", "type": "main", "index": 0 }]]
    },
    "Google Calendar — Get": {
      "main": [[{ "node": "Google Calendar — Update", "type": "main", "index": 0 }]]
    },
    "Google Calendar — Update": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
